# Files with more than 100M
004 Linux Command Line/soft/ubuntu-20.04.3-desktop-amd64.iso
004 Linux Command Line/testing/vb 001/my_ubuntu01/my_ubuntu/my_ubuntu.vdi

# other git repos
007 Git/Repos/

# examples from docker course
202 DevOps/examples
202 DevOps/testing

